@model Bidirectional.Demo.Common.Contracts.Client.GetClientProcessInfo.GetClientProcessInfoResponse

<div>

    <dl>
        <dt>Total Processor Time</dt>
        <dd>@Model.TotalProcessorTime</dd>

        <dt>User Processor Time</dt>
        <dd>@Model.UserProcessorTime</dd>

        <dt>Privileged Processor Time</dt>
        <dd>@Model.UserProcessorTime</dd>
        
        <dt>Current Memory Usage</dt>
        <dd>@Model.CurrentMemoryUsage</dd>
        
        <dt>Peak Memory Usage</dt>
        <dd>@Model.PeakMemoryUsage</dd>
        
        <dt>Active Threads</dt>
        <dd>@Model.ActiveThreads</dd>

    </dl>
</div>